{% extends 'shared/base.html' %}


{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <charset = 'utf-8'>
        <title>NMLS</title>
    </head>
    <body>
    {% block content %}

        <section id='book-details'>
            <h1>{{book.title}}</h1>
            <h2>By {{book.author}} </h2>

            <div>Published in {{book.year}}</div>
            <div>ISBN: {{book.isbn_number}}</div>
            <div>Located in the {{book.location.title}}</div>
            <div>Registered by {{book.librarian.first_name}} {{book.librarian.last_name}}</div
        </section>

        <section id='book-actions' style='display:flex;'>
   
            <form action ="{% url 'libraryapp:book' book.id %}" method = 'POST'>
                {% csrf_token %}
                <input type = "hidden" name = "actual_method" value="DELETE">
                <button>DELETE</button>
            </form>

            <form action="{% url 'libraryapp:book_edit_form' book.id %}" method="GET">
                {% csrf_token %}
                <button>Edit</button>
            </form>
        </section>
        {% endblock %}
    </body>
</html>