
{% extends 'shared/base.html' %}

{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library</title>
  </head>
  <body>
  {% block content %}
    <h1>Books</h1>
    <a href="{% url 'libraryapp:book_form' %}">Add Book to Inventory</a>
    <ol>
    {% for book in all_books %}
        <li>
            <a href="{% url 'libraryapp:book' book.id %}"> {{ book.title }}</a>
            by {{book.author}} published in {{book.year}}
            </a>
        </li>
    {% endfor %}
    </ol>
    {% endblock %}
  </body>
</html>
