{% extends 'shared/base.html' %}

{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Library</title>
    </head>
    <body>
    {% block content %}
        <h1>Librarians</h1>

        <ol>
        {% for librarian in all_librarians %}
            <li><a href = {% url 'libraryapp:librarian' librarian.id %}>
                {{librarian.id}} {{librarian.user_id}} {{librarian.first_name}} {{librarian.last_name}}</a></li>
        {% endfor %}
        </ol>
    {% endblock %}
    </body>
</html>